/target
/data
/execution-reports
/book
/audits
.github
.dockerignore

# Ignore .env files
.env*

# Ignore docker-compose files
docker-compose*

# Ignore Dockerfile files
Dockerfile*

# Ignore markdown files
*.md

# Ignore shell scripts
*.sh